In [1]:
# Libraries

import pandas as pd
import numpy as np
import matplotlib as plt
import re

## Harvard mass mobilization 1990 - 2019

**About the dataset**

Source: https://massmobilization.github.io

Protest is a dichotomous coding for whether or not there was a protest action in a particular period
The project defines a protest as a gathering of 50 or more people to make a demand of the government. A
protest action must be targeted at the state or state policy. The project does not code protests in one
country that are targeted at the policies of another country and in that sense, it captures only “home
grown” protest activities targeted at state policies.

We are interested in mobilization of anti-state protest, not necessarily community disputes between
various groups, and therefore we do not code inter-communal demonstrations. 

Protests that involve an industrial enterprise that is affected by state policy
such as labor rights or safety, does represent a codeable activity only if the people take to the streets to
demand better conditions, wages, safety, and the outcome is a function of state level policy decisions. A
union action targeted specifically at conditions linked to a specific company and are part of labor
negotiations do not constitute a protest, unless or until the labor action becomes a public event (by, say,
marching in the streets or demanding action on the part of the government).

In [2]:
# Datasets

# Mass mobilization:
harvardmm_df = pd.read_csv('Data/Mass_Mobilization_Harvard.csv')
harvardmm_df_original = harvardmm_df.copy


freedom_df = pd.read_excel('Data/2020_freedom_house_clean.xlsx')
freedom_df_original = freedom_df.copy

In [3]:
# Harvard dataset includes some rows were protests are not deemed relevant. These are indicated with a 0 in the column 'protests'
# I drop these lines since they are irrelevant to the current analysis

harvardmm_filtered = harvardmm_df[harvardmm_df['protest'] !=0]

# Most interested in Year, Country, Protest Name(protesterdemand1), Motivations (protesterdemand2), Peak Size (participants)
harvardmm_filtered = harvardmm_filtered[['year', 'country', 'protesterdemand1', 'protesterdemand2', 'participants']]
harvardmm_filtered

,year,country,protesterdemand1,protesterdemand2,participants
0,1990,Canada,"political behavior, process",labor wage dispute,1000s
1,1990,Canada,"political behavior, process",NaN,1000
2,1990,Canada,"political behavior, process",NaN,500
3,1990,Canada,land farm issue,NaN,100s
4,1990,Canada,"political behavior, process",NaN,950
...,...,...,...,...,...
16355,2014,Papua New Guinea,"political behavior, process",NaN,100+
16357,2016,Papua New Guinea,removal of politician,NaN,About 1000
16358,2017,Papua New Guinea,"political behavior, process",land farm issue,50+
16359,2017,Papua New Guinea,"political behavior, process",NaN,50+
16360,2017,Papua New Guinea,"political behavior, process",NaN,About 100

In [4]:
# I want to add the freedom index from randomhouse to the harvard dataset too
# For this, replicate the years vertically and add the value per row and column downwards
freedom = freedom_df.copy()
freedom.rename(columns={'Year(s) Under Review':'country'}, inplace = True)
freedom.head()

,country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan,NF,NF,NF,NF,NF,NF,NF,NF,NF,...,NF,NF,NF,NF,NF,NF,NF,NF,NF,NF
1,Albania,NF,PF,PF,PF,PF,PF,PF,PF,PF,...,PF,PF,PF,PF,PF,PF,PF,PF,PF,PF
2,Algeria,PF,PF,NF,NF,NF,NF,NF,NF,NF,...,NF,NF,NF,NF,NF,NF,NF,NF,NF,NF
3,Andorra,-,-,-,F,F,F,F,F,F,...,F,F,F,F,F,F,F,F,F,F
4,Angola,NF,PF,NF,NF,NF,NF,NF,NF,NF,...,NF,NF,NF,NF,NF,NF,NF,NF,NF,NF

In [5]:
list_of_cols = list(freedom.columns)
pivoted = pd.melt(freedom, id_vars = ['country'], value_vars=list_of_cols[1:], var_name = 'year', value_name='freedom')
pivoted.head()

       country  year freedom
0  Afghanistan  1990      NF
1      Albania  1990      NF
2      Algeria  1990      PF
3      Andorra  1990       -
4       Angola  1990      NF

In [6]:
pivoted.shape

(6150, 3)

In [7]:
# insert pivoted into harvardmm_filtered
harvard = harvardmm_filtered.merge(pivoted, on=['country', 'year'], how = 'left')
harvard

#Check: the df keeps the same number of rows as harvardmm_filtered

,year,country,protesterdemand1,protesterdemand2,participants,freedom
0,1990,Canada,"political behavior, process",labor wage dispute,1000s,F
1,1990,Canada,"political behavior, process",NaN,1000,F
2,1990,Canada,"political behavior, process",NaN,500,F
3,1990,Canada,land farm issue,NaN,100s,F
4,1990,Canada,"political behavior, process",NaN,950,F
...,...,...,...,...,...,...
14509,2014,Papua New Guinea,"political behavior, process",NaN,100+,PF
14510,2016,Papua New Guinea,removal of politician,NaN,About 1000,PF
14511,2017,Papua New Guinea,"political behavior, process",land farm issue,50+,PF
14512,2017,Papua New Guinea,"political behavior, process",NaN,50+,PF
14513,2017,Papua New Guinea,"political behavior, process",NaN,About 100,PF

In [8]:
# participants column cleanup
harvard.isnull().sum(axis = 0)

year                    0
country                 0
protesterdemand1       11
protesterdemand2    11838
participants           12
freedom               513
dtype: int64

In [9]:
harvard.participants.fillna('', inplace=True)

In [10]:
# harvard.participants.unique()

In [11]:
def number_cleaner(text):
    a = re.findall(r'[-><]\s*(\d+)', text)
    if a == []:
        b = re.findall(r'\d+', text)
        if b ==[]:
            return text
        else:
            return b[0]
    else:
        return a[0]

harvard['participants'] = harvard.participants.apply(number_cleaner)

In [12]:
harvard.loc[harvard['participants'] =='dozens','participants'] ='12'
harvard.loc[harvard['participants'] =='several dozen','participants'] ='12'
harvard.loc[harvard['participants'] =='a group','participants'] ='unknown'
harvard.loc[harvard['participants'] =='busloads','participants'] ='unknown'
harvard.loc[harvard['participants'] =='widespread','participants'] ='unknown'
harvard.loc[harvard['participants'] =='Hundreds','participants'] ='100'
harvard.loc[harvard['participants'] =='hundreds','participants'] ='100'
harvard.loc[harvard['participants'] =='hundreds ','participants'] ='100'
harvard.loc[harvard['participants'] =='several hundred','participants'] ='100'
harvard.loc[harvard['participants'] =='several thousand','participants'] ='1000'
harvard.loc[harvard['participants'] =='Thousands','participants'] ='1000'
harvard.loc[harvard['participants'] =='tens of thousands','participants'] ='10000'
harvard.loc[harvard['participants'] =='hundreds of thousands','participants'] ='100000'
harvard.loc[harvard['participants'] =='several dozen arrests','participants'] ='unknown'
harvard.loc[harvard['participants'] =='a few dozen','participants'] ='12'
harvard.loc[harvard['participants'] =='thousands','participants'] ='1000'
harvard.loc[harvard['participants'] =='a few thousand','participants'] ='1000'
harvard.loc[harvard['participants'] =='Several thousand','participants'] ='1000'
harvard.loc[harvard['participants'] =='scores','participants'] ='unknown'
harvard.loc[harvard['participants'] =='more than a dozen schools','participants'] ='12'
harvard.loc[harvard['participants'] =='dozens arrested ','participants'] ='unknown'
harvard.loc[harvard['participants'] =='Thousands ','participants'] ='1000'
harvard.loc[harvard['participants'] =='very low thousands','participants'] ='1000'
harvard.loc[harvard['participants'] =='several hundreds','participants'] ='100'
harvard.loc[harvard['participants'] =='hundreds  ','participants'] ='100'
harvard.loc[harvard['participants'] =='hundreds of thousands ','participants'] ='100000'
harvard.loc[harvard['participants'] =='Hundreds of thousands','participants'] ='100000'
harvard.loc[harvard['participants'] =='Dozens','participants'] ='12'
harvard.loc[harvard['participants'] =='several dozens','participants'] ='12'
harvard.loc[harvard['participants'] =='millions','participants'] ='1000000'
harvard.loc[harvard['participants'] =='teachers and pupils','participants'] ='unknown'
harvard.loc[harvard['participants'] =='few thousand','participants'] ='1000'
harvard.loc[harvard['participants'] =='several hundred thousands','participants'] ='100000'
harvard.loc[harvard['participants'] =='a few thousand ','participants'] ='1000'
harvard.loc[harvard['participants'] =='couple thousands','participants'] ='2000'
harvard.loc[harvard['participants'] =='a few hundred','participants'] ='100'
harvard.loc[harvard['participants'] =='several thousand ','participants'] ='1000'
harvard.loc[harvard['participants'] =='dozens arrested','participants'] ='unknown'
harvard.loc[harvard['participants'] =='Hundreds of people','participants'] ='100'
harvard.loc[harvard['participants'] =='Hundreds of workers','participants'] ='100'
harvard.loc[harvard['participants'] =='Thousands of miners','participants'] ='1000'
harvard.loc[harvard['participants'] =='Several hundred demonstrators','participants'] ='100'
harvard.loc[harvard['participants'] =='Hundreds of villagers','participants'] ='100'
harvard.loc[harvard['participants'] =='Thousands of people','participants'] ='1000'
harvard.loc[harvard['participants'] =='A few hundred','participants'] ='100'
harvard.loc[harvard['participants'] =='Tens of thousands of people','participants'] ='100'
harvard.loc[harvard['participants'] =='few dozen','participants'] ='100'
harvard.loc[harvard['participants'] =='Unknown','participants'] ='unknown'

In [13]:
harvard.loc[harvard['participants'] =='Several thousand protesters','participants'] ='1000'
harvard.loc[harvard['participants'] =='Demonstrators','participants'] ='unknown'
harvard.loc[harvard['participants'] =='Tens of thousands','participants'] ='10000'
harvard.loc[harvard['participants'] =='Large demonstrations','participants'] ='unknown'
harvard.loc[harvard['participants'] =='Huge protests','participants'] ='1000'
harvard.loc[harvard['participants'] =='Hundreds of student protesters','participants'] ='unknown'
harvard.loc[harvard['participants'] =='Mass protests','participants'] ='1000'
harvard.loc[harvard['participants'] =='HUNDREDS OF thousands of Venezuelans','participants'] ='100000'
harvard.loc[harvard['participants'] =='Rocked by protests','participants'] ='unknown'
harvard.loc[harvard['participants'] =='More than seven million people','participants'] ='7000000'
harvard.loc[harvard['participants'] =='Millions','participants'] ='1000000'
harvard.loc[harvard['participants'] =='Hundreds of youth','participants'] ='unknown'
harvard.loc[harvard['participants'] =='A general strike that paralysed Venezuela','participants'] ='1000'
harvard.loc[harvard['participants'] =='Protesters on whom the government security forces used water cannons, rubber bullets and batons','participants'] ='unknown'
harvard.loc[harvard['participants'] =='A few hundred people','participants'] ='100'
harvard.loc[harvard['participants'] =='About a hundred protesters','participants'] ='100'
harvard.loc[harvard['participants'] =='Hundreds of Venezuelans','participants'] ='100'
harvard.loc[harvard['participants'] =='up to two million','participants'] ='2000000'
harvard.loc[harvard['participants'] =='increasingly large gatherings','participants'] ='unknown'
harvard.loc[harvard['participants'] =='over a million','participants'] ='1000000'
harvard.loc[harvard['participants'] =='Crowds','participants'] ='unknown'
harvard.loc[harvard['participants'] =='Hundreds of college students','participants'] ='100'
harvard.loc[harvard['participants'] =='Widespread protests throughout the valley','participants'] ='unknown'
harvard.loc[harvard['participants'] =='Volunteers and a line formed of people participating to cook beef and share it with strangers in the streets','participants'] ='unknown'
harvard.loc[harvard['participants'] =='Thousands of Indians, including Bollywood actors','participants'] ='1000'
harvard.loc[harvard['participants'] =='Civilians; a crowd','participants'] ='unknown'
harvard.loc[harvard['participants'] =='Protests across India','participants'] ='unknown'
harvard.loc[harvard['participants'] =='Hundreds of residents','participants'] ='100'
harvard.loc[harvard['participants'] =='Several hundred','participants'] ='100'
harvard.loc[harvard['participants'] =='Mass demonstrations','participants'] ='100'

In [14]:
harvard.loc[harvard['participants'] =='"Rocked by protests"','participants'] ='unknown'
harvard.loc[harvard['participants'] =='Hundreds of youths','participants'] ='100'

In [15]:
harvard.participants.unique()

array(['1000', '500', '100', '950', '200', '110000', '10000', '6000',
       '3000', '126000', '45000', '2000', '400', '10', '250', '170000',
       '300', '12000', '1500', '50', '12', 'unknown', '80', '2500', '150',
       '8000', '4000', '15000', '600', '270', '350', '5000', '20000',
       '100000', '30000', '70000', '80000', '60', '200000', '750000',
       '90000', '150000', '400000', '1000000', '50000', '11000', '230',
       '180', '35000', '', '40000', '130', '60000', '23000', '14000',
       '900', '1200', '1700', '700', '800', '280', '2400', '90', '164',
       '7000', '25000', '240000', '1100', '4500', '75000', '250000',
       '500000', '300000', '120000', '13800', '600000', '800000',
       '900000', '700000', '350000', '450000', '5', '53000', '280000',
       '72000', '270000', '1', '1300000', '22000', '135000', '9000',
       '290000', '44000', '36000', '168000', '20', '7000000', '16', '75',
       '1400', '4800', '2450', '6500', '181', '32000', '18500', '.',
       '24000', '260000', '13000', '1150', '55', '450', '920', '16000',
       '3500', '55000', '1300', '3800', '17000', '2000000', '25', '2',
       '70', '609', '118000', '8500', '2850', '28000', '2200', '130000',
       '1250', '17200', '3100', '2900', '5100', '2050', '107', '12500',
       '370', '407791', '22500', '52000', '20700', '430000', '1600',
       '120', '160', '30', '15', '355', '5500', '520', '64', '141', '240',
       '27000', '7500', '5600', '35', '325000', '34000', '3', '60900',
       '2600', '750', '6700', '570000', '18000', '375000', '1200000',
       '465000', '825000', '1100000', '560000', '61', '340000', '125000',
       '1365', '140000', '223000', '119500', '66000', '29000', '84000',
       '69000', '58000', '51000', '160000', '140', '6600', '484000',
       '340', '14500', '17500', '25100', '3200', '65000', '650000',
       '5750', '3000000', '298', '1500000', '28', '42000', '4700',
       '56000', '37000', '840', '185', '170', '56', '213', '41000', '193',
       '106', '613', '128', '335', '3765', '311', '51', '115', '86', '71',
       '63', '459', '157', '65', '132', '2700', '89', '567', '73', '125',
       '207', '260', '195', '224', '99', '14059', '1800', '388', '40',
       '29', '650', '3600', '79', '680', '4360', '850', '82000', '68000',
       '63000', '27500', '28500', '180000', '510000', '4', '6', '110',
       '13', '7', '320000', '124000', '32200', '330', '137000', '54',
       '61000', '465', '10600', '19000', '625000', '161', '138', '5300',
       '634', '102000', '5800', '4200', '149', '540', '57000', '21000',
       '33000', '10300', '84', '102', '155', '66', '210', '76', '74',
       '112', '93000', '52', '440', '222', '241', '87', '2300', '3700',
       '97', '234', '1900', '57', '88', '559'], dtype=object)

In [28]:
#harvard[~harvard.participants.str.contains("unknown")]

In [26]:
harvard1 = harvard[harvard['participants'].str.contains('unknown')] 
harvard1

,year,country,protesterdemand1,protesterdemand2,participants,freedom
40,2016,Canada,"political behavior, process",NaN,unknown,F
43,2016,Canada,"political behavior, process",NaN,unknown,F
45,2018,Canada,"political behavior, process",NaN,unknown,F
1342,2016,Venezuela,"price increases, tax policy",NaN,unknown,NF
1354,2017,Venezuela,"political behavior, process",NaN,unknown,NF
1355,2017,Venezuela,"political behavior, process",NaN,unknown,NF
1359,2017,Venezuela,"political behavior, process",NaN,unknown,NF
1364,2017,Venezuela,"political behavior, process",NaN,unknown,NF
1369,2017,Venezuela,"political behavior, process",NaN,unknown,NF
1976,2016,Brazil,"political behavior, process",NaN,unknown,F
1991,2016,Brazil,labor wage dispute,"political behavior, process",unknown,F
1995,2017,Brazil,land farm issue,NaN,unknown,F
5772,2015,Greece,labor wage dispute,NaN,unknown,F
9403,1997,Zambia,labor wage dispute,NaN,unknown,PF
9405,1997,Zambia,"political behavior, process",NaN,unknown,PF
9407,1997,Zambia,"political behavior, process",NaN,unknown,PF
10702,2016,Iran,land farm issue,NaN,unknown,NF
10705,2017,Iran,removal of politician,"political behavior, process",unknown,NF
12881,2017,India,"political behavior, process",NaN,unknown,F
12883,2017,India,"political behavior, process",NaN,unknown,F
12884,2017,India,"political behavior, process",social restrictions,unknown,F
12885,2017,India,police brutality,"political behavior, process",unknown,F
12888,2017,India,"political behavior, process",NaN,unknown,F
12890,2017,India,police brutality,NaN,unknown,F

In [27]:
len(harvard1)

24

In [44]:
harvard2 = harvard[(harvard.participants != 'unknown') & (harvard.participants != '.')].copy()

In [46]:
harvard2['participants'] = pd.to_numeric(harvard2["participants"])

In [47]:
harvard2.dtypes

year                 object
country              object
protesterdemand1     object
protesterdemand2     object
participants        float64
freedom              object
dtype: object

In [165]:
harvard3 = harvard2[(harvard2.participants >= 1000)]
harvard3

,year,country,protesterdemand1,protesterdemand2,participants,freedom
0,1990,Canada,"political behavior, process",labor wage dispute,1000.0,F
1,1990,Canada,"political behavior, process",NaN,1000.0,F
6,1991,Canada,labor wage dispute,NaN,110000.0,F
7,1991,Canada,labor wage dispute,NaN,110000.0,F
8,1992,Canada,police brutality,NaN,1000.0,F
...,...,...,...,...,...,...
14505,2012,Papua New Guinea,"political behavior, process",NaN,1000.0,PF
14506,2012,Papua New Guinea,"political behavior, process",NaN,1000.0,PF
14507,2012,Papua New Guinea,"political behavior, process",NaN,1000.0,PF
14508,2013,Papua New Guinea,"political behavior, process",NaN,2000.0,PF
14510,2016,Papua New Guinea,removal of politician,NaN,1000.0,PF

In [166]:
harvard3['year'] = pd.to_numeric(harvard3['year'])

<ipython-input-166-adde20b7081c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  harvard3['year'] = pd.to_numeric(harvard3['year'])

In [167]:
harvard3.dtypes

year                  int64
country              object
protesterdemand1     object
protesterdemand2     object
participants        float64
freedom              object
dtype: object

In [168]:
harvard3.isnull().sum(axis = 0)

year                   0
country                0
protesterdemand1       6
protesterdemand2    5181
participants           0
freedom              195
dtype: int64

In [169]:
# save dataframe
harvard.to_csv('./Data/harvard_clean.csv', encoding='utf-8')
harvard.to_excel('./Data/harvard_clean.xlsx')

In [170]:
counts = []
for i in harvard3['year']:
    counts.append(1)
       
harvard3["counts"] = counts   
harvard3

<ipython-input-170-896f1e7d6cab>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  harvard3["counts"] = counts

,year,country,protesterdemand1,protesterdemand2,participants,freedom,counts
0,1990,Canada,"political behavior, process",labor wage dispute,1000.0,F,1
1,1990,Canada,"political behavior, process",NaN,1000.0,F,1
6,1991,Canada,labor wage dispute,NaN,110000.0,F,1
7,1991,Canada,labor wage dispute,NaN,110000.0,F,1
8,1992,Canada,police brutality,NaN,1000.0,F,1
...,...,...,...,...,...,...,...
14505,2012,Papua New Guinea,"political behavior, process",NaN,1000.0,PF,1
14506,2012,Papua New Guinea,"political behavior, process",NaN,1000.0,PF,1
14507,2012,Papua New Guinea,"political behavior, process",NaN,1000.0,PF,1
14508,2013,Papua New Guinea,"political behavior, process",NaN,2000.0,PF,1
14510,2016,Papua New Guinea,removal of politician,NaN,1000.0,PF,1

#### Protests per year globally

In [171]:
protest_year = harvard3['year'].value_counts()
protest_year = protest_year.sort_index()
protest_year = protest_year.to_frame()

In [172]:
participants_year = harvard3.groupby('year')['participants'].mean().round(0)
participants_year = participants_year.to_frame()

In [173]:
yearly_protests = protest_year.join(participants_year)
yearly_protests.columns=['protest_count', 'participants']

In [174]:
yearly_protests.reset_index(inplace=True)

In [175]:
yearly_protests

    index  protest_count  participants
0    1990            327       23971.0
1    1991            221       45619.0
2    1992            204       47143.0
3    1993            148       24581.0
4    1994            188       38029.0
5    1995            164       37247.0
6    1996            208       45688.0
7    1997            253       31536.0
8    1998            228       21580.0
9    1999            183       25319.0
10   2000            231       41657.0
11   2001            200       26648.0
12   2002            222       56457.0
13   2003            217       74591.0
14   2004            208       39480.0
15   2005            216       35202.0
16   2006            216       53025.0
17   2007            198       27075.0
18   2008            180       20649.0
19   2009            180       40703.0
20   2010            182       33232.0
21   2011            310       15393.0
22   2012            247       31915.0
23   2013            250       27256.0
24   2014            218       21614.0
25   2015            278       25983.0
26   2016            210       20397.0
27   2017            214       89390.0
28   2018            301       13705.0
29   2019             97       61713.0

#### Protests per country

In [177]:
protests_country=harvard3.groupby(['country', 'year']).aggregate({'counts': np.count_nonzero,
                                          'participants': np.mean}).round(0)

In [178]:
protests_country.head(50)

                  counts  participants
country     year
Afghanistan 1991       1        2000.0
            1997       1        2000.0
            1998       1        2000.0
            2011       1       10000.0
            2012       1        1500.0
            2014       2        8000.0
            2015       3        4000.0
            2016       2        5500.0
            2017       2        1500.0
            2018       1        5000.0
Albania     1990       3        6667.0
            1991       6       10000.0
            1992       2       10500.0
            1993       1       20000.0
            1994       1        2500.0
            1996       1        1000.0
            1997      10       11550.0
            1998       2        3000.0
            2000       1        1000.0
            2010       4        3250.0
            2011       3       46667.0
            2013       2        2000.0
            2017       2        2000.0
            2018       9       12000.0
            2019       5        1000.0
Algeria     1990       2       22500.0
            1991       1       10000.0
            1992       3       45667.0
            1997       1        1000.0
            1998       1        1000.0
            2001       4      202500.0
            2011       1       10000.0
            2013       1        1000.0
            2014       1        1000.0
            2015       2        1500.0
            2017       1        1000.0
            2019      13      102769.0
Angola      1994       1        1000.0
            2001       1        1000.0
            2003       1        1000.0
            2004       1       10000.0
            2005       1       10000.0
            2006       1        6000.0
            2012       1        1000.0
Argentina   1990       6       11583.0
            1991       2        2500.0
            1992       2       35500.0
            1993       2        3000.0
            1994       3        5167.0
            1995       1        2500.0

In [176]:
harvard3.loc[harvard3['country'] == 'Afghanistan']

,year,country,protesterdemand1,protesterdemand2,participants,freedom,counts
11489,1991,Afghanistan,police brutality,NaN,2000.0,NF,1
11490,1997,Afghanistan,police brutality,NaN,2000.0,NF,1
11491,1998,Afghanistan,social restrictions,NaN,2000.0,NF,1
11496,2011,Afghanistan,"political behavior, process",NaN,10000.0,NF,1
11499,2012,Afghanistan,removal of politician,NaN,1500.0,NF,1
11503,2014,Afghanistan,"political behavior, process",NaN,1000.0,NF,1
11504,2014,Afghanistan,"political behavior, process",NaN,15000.0,NF,1
11508,2015,Afghanistan,"political behavior, process",police brutality,1000.0,NF,1
11510,2015,Afghanistan,"political behavior, process",NaN,1000.0,NF,1
11511,2015,Afghanistan,"political behavior, process",removal of politician,10000.0,NF,1
11513,2016,Afghanistan,land farm issue,"political behavior, process",10000.0,NF,1
11514,2016,Afghanistan,land farm issue,"political behavior, process",1000.0,NF,1
11516,2017,Afghanistan,"political behavior, process",NaN,2000.0,NF,1
11517,2017,Afghanistan,removal of politician,"political behavior, process",1000.0,NF,1
11522,2018,Afghanistan,police brutality,NaN,5000.0,NF,1