## GOAL :

- Find good jobs by salary, company rating and locations

In [1]:
import pandas as pd
import numpy as np

### Data exploration

In [2]:
df = pd.read_csv('DataAnalyst.csv', index_col=0)

In [3]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),Weâ€™re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1
3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,RQS - IHHA - 201900004460 -1q Data Security An...,$78K-$104K (Glassdoor est.),Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.\n2.5","Denver, CO","Alpharetta, GA",51 to 200 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,-1
2249,Senior Data Analyst (Corporate Audit),$78K-$104K (Glassdoor est.),Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,1935,Company - Public,Wholesale,Business Services,$10+ billion (USD),"Avnet, Ingram Micro, Tech Data",-1
2250,"Technical Business Analyst (SQL, Data analytic...",$78K-$104K (Glassdoor est.),"Title: Technical Business Analyst (SQL, Data a...",-1.0,Spiceorb,"Denver, CO",-1,-1,-1,-1,-1,-1,-1,-1,-1
2251,"Data Analyst 3, Customer Experience",$78K-$104K (Glassdoor est.),Summary\n\nResponsible for working cross-funct...,3.1,Contingent Network Services\n3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,1984,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),-1,-1
2252,Senior Quality Data Analyst,$78K-$104K (Glassdoor est.),"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,1864,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Centura Health, HealthONE, Denver Health and H...",-1

### Change value in Easy Apply  -1 to False

In [4]:
df['Easy Apply'].value_counts()

-1      2173
True      80
Name: Easy Apply, dtype: int64

In [5]:
df['Easy Apply'].replace({"-1": "False"}, inplace=True)

In [6]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,False
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),Weâ€™re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,False
3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,False
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,RQS - IHHA - 201900004460 -1q Data Security An...,$78K-$104K (Glassdoor est.),Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.\n2.5","Denver, CO","Alpharetta, GA",51 to 200 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,False
2249,Senior Data Analyst (Corporate Audit),$78K-$104K (Glassdoor est.),Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,1935,Company - Public,Wholesale,Business Services,$10+ billion (USD),"Avnet, Ingram Micro, Tech Data",False
2250,"Technical Business Analyst (SQL, Data analytic...",$78K-$104K (Glassdoor est.),"Title: Technical Business Analyst (SQL, Data a...",-1.0,Spiceorb,"Denver, CO",-1,-1,-1,-1,-1,-1,-1,-1,False
2251,"Data Analyst 3, Customer Experience",$78K-$104K (Glassdoor est.),Summary\n\nResponsible for working cross-funct...,3.1,Contingent Network Services\n3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,1984,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),-1,False
2252,Senior Quality Data Analyst,$78K-$104K (Glassdoor est.),"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,1864,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Centura Health, HealthONE, Denver Health and H...",False

### Replace missing value

As some of the columns contains -1 or '-1.0' or '-1' etc . We need to clean this(This is kind of null values)

In [7]:
df.replace(to_replace =-1 , value=np.nan,inplace=True)
df.replace(to_replace ='-1' , value=np.nan,inplace=True)
df.replace(to_replace =-1.0 , value=np.nan,inplace=True)

In [8]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961.0,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),NaN,True
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893.0,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),NaN,False
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),Weâ€™re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003.0,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,False
3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002.0,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),NaN,False
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009.0,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,RQS - IHHA - 201900004460 -1q Data Security An...,$78K-$104K (Glassdoor est.),Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.\n2.5","Denver, CO","Alpharetta, GA",51 to 200 employees,NaN,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,NaN,False
2249,Senior Data Analyst (Corporate Audit),$78K-$104K (Glassdoor est.),Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,1935.0,Company - Public,Wholesale,Business Services,$10+ billion (USD),"Avnet, Ingram Micro, Tech Data",False
2250,"Technical Business Analyst (SQL, Data analytic...",$78K-$104K (Glassdoor est.),"Title: Technical Business Analyst (SQL, Data a...",NaN,Spiceorb,"Denver, CO",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2251,"Data Analyst 3, Customer Experience",$78K-$104K (Glassdoor est.),Summary\n\nResponsible for working cross-funct...,3.1,Contingent Network Services\n3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,1984.0,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),NaN,False
2252,Senior Quality Data Analyst,$78K-$104K (Glassdoor est.),"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,1864.0,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Centura Health, HealthONE, Denver Health and H...",False

### Check for missing value:

In [9]:
df.isnull().sum()

Job Title               0
Salary Estimate         1
Job Description         0
Rating                272
Company Name            1
Location                0
Headquarters          172
Size                  163
Founded               660
Type of ownership     163
Industry              353
Sector                353
Revenue               163
Competitors          1732
Easy Apply              0
dtype: int64

#### Drop Competitors and Founded columns because the values are not useful

In [10]:
df.drop(['Competitors'], axis = 1, inplace = True)

In [11]:
df.drop(['Founded'], axis = 1 , inplace = True)

In [12]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,Easy Apply
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),True
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),False
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),Weâ€™re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,False
3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),False
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,RQS - IHHA - 201900004460 -1q Data Security An...,$78K-$104K (Glassdoor est.),Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.\n2.5","Denver, CO","Alpharetta, GA",51 to 200 employees,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,False
2249,Senior Data Analyst (Corporate Audit),$78K-$104K (Glassdoor est.),Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,Company - Public,Wholesale,Business Services,$10+ billion (USD),False
2250,"Technical Business Analyst (SQL, Data analytic...",$78K-$104K (Glassdoor est.),"Title: Technical Business Analyst (SQL, Data a...",NaN,Spiceorb,"Denver, CO",NaN,NaN,NaN,NaN,NaN,NaN,False
2251,"Data Analyst 3, Customer Experience",$78K-$104K (Glassdoor est.),Summary\n\nResponsible for working cross-funct...,3.1,Contingent Network Services\n3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),False
2252,Senior Quality Data Analyst,$78K-$104K (Glassdoor est.),"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),False

### Split salary into two columns min salary and max salary.

In [13]:
df['Salary Estimate'] = df['Salary Estimate'].str.replace('(Glassdoor est.)' ,'')

In [14]:
df['Salary Estimate'] = df['Salary Estimate'].str.replace(' ( )' ,'')

In [15]:
df['Salary Estimate'] = df['Salary Estimate'].str.replace('$' ,'')

In [16]:
df['Salary Estimate'] = df['Salary Estimate'].str.replace('K' ,'')

df['Salary Estimate']

0        37-66 ()
1        37-66 ()
2        37-66 ()
3        37-66 ()
4        37-66 ()
          ...
2248    78-104 ()
2249    78-104 ()
2250    78-104 ()
2251    78-104 ()
2252    78-104 ()
Name: Salary Estimate, Length: 2253, dtype: object

In [17]:
df[['Min Salary','Max Salary']] = df['Salary Estimate'].str.split("-",expand=True,)

### Clear company name

In [18]:
df['Company Name']

0                Vera Institute of Justice\n3.2
1       Visiting Nurse Service of New York\n3.8
2                              Squarespace\n3.4
3                                 Celerity\n4.1
4                                  FanDuel\n3.9
                         ...
2248                         Avacend, Inc.\n2.5
2249                     Arrow Electronics\n2.9
2250                                   Spiceorb
2251           Contingent Network Services\n3.1
2252                            SCL Health\n3.4
Name: Company Name, Length: 2253, dtype: object

In [19]:
df['Company Name']=df['Company Name'].str.split('\n', 1)

In [20]:
df['Company Name']

0                [Vera Institute of Justice, 3.2]
1       [Visiting Nurse Service of New York, 3.8]
2                              [Squarespace, 3.4]
3                                 [Celerity, 4.1]
4                                  [FanDuel, 3.9]
                          ...
2248                         [Avacend, Inc., 2.5]
2249                     [Arrow Electronics, 2.9]
2250                                   [Spiceorb]
2251           [Contingent Network Services, 3.1]
2252                            [SCL Health, 3.4]
Name: Company Name, Length: 2253, dtype: object

### Filtering good companiesÂ´ s ratings are higher than 4

In [21]:
df['Rating'].value_counts().sort_values(ascending=False)

3.9    140
3.6    135
3.7    132
5.0    131
3.8    130
4.0    129
3.5    125
4.1    119
3.3    109
3.4    101
3.2     91
3.1     68
3.0     57
4.3     55
4.5     47
4.2     47
4.6     46
4.4     46
2.8     43
2.9     40
2.5     32
4.8     29
2.7     25
4.7     23
4.9     17
2.6     14
2.4     10
1.0     10
2.3      9
2.0      6
2.1      4
2.2      3
1.8      2
1.9      2
1.6      2
1.7      2
Name: Rating, dtype: int64

In [22]:
good_company = df.loc[df['Rating'] >= 4]

### Filtering companies with good salaries

In [23]:
good_company = good_company[good_company['Salary Estimate'].notna()]

In [24]:
good_company.isnull().sum()

Job Title             0
Salary Estimate       0
Job Description       0
Rating                0
Company Name          0
Location              0
Headquarters          2
Size                  0
Type of ownership     0
Industry             53
Sector               53
Revenue               0
Easy Apply            0
Min Salary            0
Max Salary            0
dtype: int64

#### Find mean of min salary

In [25]:
min_salary= good_company['Min Salary'].tolist()

min_salary = np.array(min_salary)

min_salary1=[] 

for element in min_salary:
    element.replace('.' ,'')
    min_salary1.append(element)
min_salary1

['37',
 '37',
 '37',
 '37',
 '37',
 '37',
 '37',
 '37',
 '37',
 '37',
 '37',
 '46',
 '46',
 '46',
 '46',
 '46',
 '46',
 '46',
 '46',
 '51',
 '51',
 '51',
 '51',
 '51',
 '51',
 '51',
 '51',
 '51',
 '51',
 '51',
 '51',
 '51',
 '51',
 '51',
 '51',
 '51',
 '51',
 '59',
 '59',
 '59',
 '59',
 '59',
 '59',
 '59',
 '59',
 '59',
 '59',
 '43',
 '43',
 '43',
 '60',
 '60',
 '60',
 '60',
 '60',
 '60',
 '41',
 '41',
 '41',
 '41',
 '41',
 '41',
 '41',
 '41',
 '41',
 '41',
 '45',
 '73',
 '73',
 '73',
 '84',
 '84',
 '84',
 '84',
 '84',
 '27',
 '27',
 '27',
 '27',
 '27',
 '27',
 '27',
 '27',
 '42',
 '42',
 '42',
 '42',
 '42',
 '42',
 '77',
 '77',
 '77',
 '77',
 '77',
 '77',
 '77',
 '77',
 '77',
 '98',
 '98',
 '98',
 '98',
 '98',
 '98',
 '98',
 '98',
 '98',
 '98',
 '98',
 '48',
 '48',
 '48',
 '48',
 '48',
 '26',
 '26',
 '26',
 '26',
 '26',
 '26',
 '26',
 '26',
 '26',
 '26',
 '26',
 '26',
 '31',
 '31',
 '43',
 '43',
 '43',
 '43',
 '43',
 '43',
 '43',
 '43',
 '43',
 '49',
 '30',
 '30',
 '30',
 '30',
 '30',
 '55',
 '55',
 '55',
 '55',
 '55',
 '55',
 '55',
 '55',
 '55',
 '55',
 '55',
 '55',
 '37',
 '37',
 '37',
 '37',
 '37',
 '37',
 '37',
 '57',
 '57',
 '57',
 '57',
 '57',
 '57',
 '57',
 '57',
 '57',
 '35',
 '35',
 '35',
 '35',
 '35',
 '42',
 '42',
 '42',
 '42',
 '42',
 '42',
 '42',
 '42',
 '42',
 '65',
 '65',
 '65',
 '65',
 '65',
 '113',
 '113',
 '113',
 '113',
 '113',
 '113',
 '113',
 '60',
 '60',
 '60',
 '60',
 '60',
 '60',
 '60',
 '73',
 '73',
 '73',
 '73',
 '73',
 '73',
 '73',
 '73',
 '73',
 '73',
 '67',
 '67',
 '67',
 '67',
 '67',
 '67',
 '42',
 '42',
 '42',
 '42',
 '42',
 '42',
 '42',
 '42',
 '42',
 '42',
 '97',
 '97',
 '97',
 '97',
 '97',
 '97',
 '68',
 '68',
 '68',
 '29',
 '29',
 '29',
 '29',
 '29',
 '29',
 '29',
 '29',
 '47',
 '47',
 '47',
 '47',
 '47',
 '47',
 '47',
 '47',
 '74',
 '74',
 '74',
 '74',
 '74',
 '74',
 '74',
 '74',
 '74',
 '74',
 '53',
 '53',
 '53',
 '53',
 '53',
 '53',
 '53',
 '46',
 '46',
 '46',
 '46',
 '46',
 '43',
 '43',
 '43',
 '43',
 '43',
 '43',
 '43',
 '43',
 '43',
 '45',
 '45',
 '45',
 '41',
 '41',
 '41',
 '41',
 '41',
 '41',
 '41',
 '38',
 '38',
 '38',
 '38',
 '38',
 '38',
 '38',
 '37',
 '37',
 '37',
 '37',
 '37',
 '37',
 '37',
 '64',
 '64',
 '64',
 '64',
 '64',
 '64',
 '64',
 '50',
 '50',
 '50',
 '50',
 '50',
 '50',
 '50',
 '37',
 '37',
 '37',
 '37',
 '37',
 '37',
 '37',
 '37',
 '37',
 '37',
 '73',
 '73',
 '73',
 '76',
 '76',
 '76',
 '76',
 '76',
 '76',
 '76',
 '76',
 '76',
 '76',
 '60',
 '60',
 '60',
 '60',
 '60',
 '60',
 '60',
 '60',
 '60',
 '60',
 '60',
 '60',
 '60',
 '60',
 '34',
 '24',
 '24',
 '24',
 '24',
 '24',
 '24',
 '24',
 '24',
 '24',
 '24',
 '24',
 '30',
 '30',
 '30',
 '30',
 '30',
 '30',
 '30',
 '41',
 '41',
 '41',
 '41',
 '41',
 '41',
 '41',
 '41',
 '41',
 '41',
 '44',
 '44',
 '44',
 '44',
 '44',
 '48',
 '48',
 '48',
 '48',
 '48',
 '48',
 '48',
 '48',
 '48',
 '48',
 '48',
 '44',
 '44',
 '44',
 '44',
 '110',
 '110',
 '110',
 '110',
 '110',
 '110',
 '110',
 '110',
 '110',
 '110',
 '89',
 '89',
 '89',
 '89',
 '89',
 '89',
 '89',
 '89',
 '89',
 '89',
 '89',
 '89',
 '89',
 '89',
 '89',
 '89',
 '89',
 '89',
 '69',
 '69',
 '69',
 '69',
 '69',
 '69',
 '69',
 '69',
 '69',
 '69',
 '69',
 '69',
 '69',
 '69',
 '69',
 '69',
 '69',
 '69',
 '51',
 '51',
 '51',
 '51',
 '51',
 '51',
 '51',
 '51',
 '51',
 '51',
 '51',
 '51',
 '58',
 '58',
 '58',
 '58',
 '58',
 '58',
 '58',
 '58',
 '58',
 '58',
 '58',
 '63',
 '63',
 '63',
 '42',
 '42',
 '42',
 '42',
 '42',
 '42',
 '42',
 '42',
 '42',
 '42',
 '42',
 '42',
 '53',
 '53',
 '53',
 '53',
 '53',
 '35',
 '35',
 '35',
 '35',
 '40',
 '40',
 '40',
 '40',
 '40',
 '50',
 '50',
 '50',
 '35',
 '35',
 '35',
 '57',
 '28',
 '28',
 '28',
 '28',
 '28',
 '28',
 '28',
 '28',
 '28',
 '28',
 '46',
 '50',
 '50',
 '50',
 '50',
 '50',
 '50',
 '50',
 '50',
 '50',
 '54',
 '54',
 '54',
 '54',
 '54',
 '54',
 '54',
 '54',
 '53',
 '53',
 '53',
 '53',
 '53',
 '53',
 '53',
 '53',
 '57',
 '57',
 '57',
 '57',
 '57',
 '57',
 '57',
 '57',
 '57',
 '57',
 '57',
 '57',
 '57',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '93',
 '93',
 '93',
 '93',
 '93',
 '93',
 '93',
 '93',
 '93',
 '93',
 '93',
 '82',
 '82',
 '82',
 '82',
 '82',
 '82',
 '65',
 '65',
 '65',
 '65',
 '65',
 '65',
 '65',
 '65',
 '65',
 '65',
 '46',
 '46',
 '46',
 '46',
 '46',
 '46',
 '46',
 '46',
 '46',
 '46',
 '47',
 '47',
 '47',
 '47',
 '47',
 '47',
 '47',
 '47',
 '34',
 '34',
 '34',
 '34',
 '34',
 '34',
 '34',
 '34',
 '35',
 '35',
 '35',
 '35',
 '35',
 '35',
 '35',
 '35',
 '35',
 '35',
 '55',
 '55',
 '55',
 '55',
 '55',
 '55',
 '55',
 '55',
 '55',
 '55',
 '55',
 '55',
 '55',
 '32',
 '32',
 '32',
 '32',
 '57',
 '57',
 '57',
 '57',
 '57',
 '57',
 '57',
 '57',
 '57',
 '57',
 '57',
 '49',
 '49',
 '49',
 '49',
 '49',
 '49',
 '49',
 '49',
 '57',
 '57',
 '57',
 '57',
 '57',
 '57',
 '57',
 '57',
 '57',
 '78',
 '78']

In [26]:
min_salary2 = []
for i in min_salary1 :
    i = int(i)
    min_salary2.append(i)
min_salary2

[37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 59,
 59,
 59,
 59,
 59,
 59,
 59,
 59,
 59,
 59,
 43,
 43,
 43,
 60,
 60,
 60,
 60,
 60,
 60,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 45,
 73,
 73,
 73,
 84,
 84,
 84,
 84,
 84,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 42,
 42,
 42,
 42,
 42,
 42,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 98,
 98,
 98,
 98,
 98,
 98,
 98,
 98,
 98,
 98,
 98,
 48,
 48,
 48,
 48,
 48,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 31,
 31,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 49,
 30,
 30,
 30,
 30,
 30,
 55,
 55,
 55,
 55,
 55,
 55,
 55,
 55,
 55,
 55,
 55,
 55,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 35,
 35,
 35,
 35,
 35,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 65,
 65,
 65,
 65,
 65,
 113,
 113,
 113,
 113,
 113,
 113,
 113,
 60,
 60,
 60,
 60,
 60,
 60,
 60,
 73,
 73,
 73,
 73,
 73,
 73,
 73,
 73,
 73,
 73,
 67,
 67,
 67,
 67,
 67,
 67,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 97,
 97,
 97,
 97,
 97,
 97,
 68,
 68,
 68,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 74,
 74,
 74,
 74,
 74,
 74,
 74,
 74,
 74,
 74,
 53,
 53,
 53,
 53,
 53,
 53,
 53,
 46,
 46,
 46,
 46,
 46,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 45,
 45,
 45,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 64,
 64,
 64,
 64,
 64,
 64,
 64,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 73,
 73,
 73,
 76,
 76,
 76,
 76,
 76,
 76,
 76,
 76,
 76,
 76,
 60,
 60,
 60,
 60,
 60,
 60,
 60,
 60,
 60,
 60,
 60,
 60,
 60,
 60,
 34,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 44,
 44,
 44,
 44,
 44,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 44,
 44,
 44,
 44,
 110,
 110,
 110,
 110,
 110,
 110,
 110,
 110,
 110,
 110,
 89,
 89,
 89,
 89,
 89,
 89,
 89,
 89,
 89,
 89,
 89,
 89,
 89,
 89,
 89,
 89,
 89,
 89,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 63,
 63,
 63,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 53,
 53,
 53,
 53,
 53,
 35,
 35,
 35,
 35,
 40,
 40,
 40,
 40,
 40,
 50,
 50,
 50,
 35,
 35,
 35,
 57,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 46,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 53,
 53,
 53,
 53,
 53,
 53,
 53,
 53,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 99,
 99,
 99,
 99,
 99,
 99,
 99,
 99,
 99,
 99,
 99,
 99,
 99,
 99,
 93,
 93,
 93,
 93,
 93,
 93,
 93,
 93,
 93,
 93,
 93,
 82,
 82,
 82,
 82,
 82,
 82,
 65,
 65,
 65,
 65,
 65,
 65,
 65,
 65,
 65,
 65,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 55,
 55,
 55,
 55,
 55,
 55,
 55,
 55,
 55,
 55,
 55,
 55,
 55,
 32,
 32,
 32,
 32,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 78,
 78]

In [27]:
mean_min_salary = np.mean(min_salary2)
mean_min_salary

55.22238372093023

In [28]:
good_company['Min Salary'] = min_salary2

#### Good companies salaries are higher than mean of min salary which is 55k

In [29]:
good_salary = good_company[good_company['Min Salary'] >= 55]

In [30]:
good_salary

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,Easy Apply,Min Salary,Max Salary
123,Data Analyst,59-85 (),"Our client, one of the largest life insurers i...",4.1,"[Phyton Talent Advisors, 4.1]","Jersey City, NJ","New York, NY",1 to 50 employees,Company - Private,NaN,NaN,Unknown / Non-Applicable,False,59,85 ()
124,Junior Data Analyst,59-85 (),Job Description\nJob description\nInterpret da...,5.0,"[Staffigo Technical Services, LLC, 5.0]","New York, NY","Woodridge, IL",51 to 200 employees,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),False,59,85 ()
126,Practice Analyst Data,59-85 (),As a Practice Data Analyst in Physicians of Un...,4.0,"[Northwell Health, 4.0]","Manhasset, NY","Lake Success, NY",10000+ employees,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$10+ billion (USD),False,59,85 ()
133,Data Analyst with Rochade,59-85 (),"Hi, Trust Yoursquore Doing Good. Enclosed is t...",4.0,"[Reliable Software Resources, 4.0]","New York, NY","Northville, MI",501 to 1000 employees,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),False,59,85 ()
134,Advertising Data Analyst,59-85 (),Advertising Data Analyst\n\nHearst Television ...,4.3,"[Hearst Television, Inc, 4.3]","New York, NY","Cincinnati, OH",51 to 200 employees,Company - Private,TV Broadcast & Cable Networks,Media,$5 to $10 million (USD),False,59,85 ()
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2224,Data Security Analyst,57-100 (),"Role: Data Security Analyst\nLocation: Denver,...",4.1,"[Mavensoft Technologies, LLC., 4.1]","Denver, CO","Beaverton, OR",1 to 50 employees,Company - Private,IT Services,Information Technology,Less than $1 million (USD),False,57,100 ()
2226,Data Analyst - Junior,57-100 (),Job Description\nJob description\nInterpret da...,5.0,"[Staffigo Technical Services, LLC, 5.0]","Denver, CO","Woodridge, IL",51 to 200 employees,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),False,57,100 ()
2235,Data Base Programmer/Analyst,57-100 (),"Client is contracting for an on-site, temporar...",4.3,"[22nd Century Staffing, 4.3]","Denver, CO","McLean, VA",51 to 200 employees,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),True,57,100 ()
2238,Senior Contract Data Analyst,78-104 (),Amyx is seeking to hire a Senior Contract Data...,4.0,"[Amyx, Inc., 4.0]","Aurora, CO","Reston, VA",501 to 1000 employees,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),False,78,104 ()
2247,Marketing/Communications - Data Analyst-Marketing,78-104 (),Job Description\nJob Title: Marketing/Communic...,4.1,"[APN Software Services Inc., 4.1]","Broomfield, CO","Newark, CA",51 to 200 employees,Company - Private,Computer Hardware & Software,Information Technology,$25 to $50 million (USD),False,78,104 ()

### Find good locations

In [31]:
good_salary['Location'].unique()

array(['Jersey City, NJ', 'New York, NY', 'Manhasset, NY', 'Brooklyn, NY',
       'South Plainfield, NJ', 'Haworth, NJ', 'Lake Success, NY',
       'Florham Park, NJ', 'Whippany, NJ', 'Hoboken, NJ',
       'Los Angeles, CA', 'Burbank, CA', 'Glendale, CA', 'El Segundo, CA',
       'Santa Monica, CA', 'Long Beach, CA', 'Marina del Rey, CA',
       'Woodland Hills, CA', 'Cerritos, CA', 'City of Industry, CA',
       'Arcadia, CA', 'Chicago, IL', 'Downers Grove, IL', 'Broadview, IL',
       'Deerfield, IL', 'Northbrook, IL', 'Des Plaines, IL',
       'Rolling Meadows, IL', 'Arlington Heights, IL', 'Houston, TX',
       'Spring, TX', 'Sugar Land, TX', 'Plymouth Meeting, PA',
       'Philadelphia, PA', 'Mount Laurel, NJ', 'Marlton, NJ',
       'King of Prussia, PA', 'San Antonio, TX', 'San Diego, CA',
       'Newark, CA', 'Santa Clara, CA', 'Palo Alto, CA',
       'Mountain View, CA', 'Menlo Park, CA', 'Sunnyvale, CA',
       'San Jose, CA', 'Redwood City, CA', 'Cupertino, CA',
       'Stanford, CA', 'Union City, CA', 'Milpitas, CA', 'Pleasanton, CA',
       'Fort Worth, TX', 'San Francisco, CA', 'Oakland, CA',
       'San Mateo, CA', 'Berkeley, CA', 'Foster City, CA',
       'Marin City, CA', 'Daly City, CA', 'Emeryville, CA',
       'San Ramon, CA', 'Redmond, WA', 'Kent, WA', 'Issaquah, WA',
       'Seattle, WA', 'Renton, WA', 'Denver, CO',
       'Greenwood Village, Arapahoe, CO', 'Lakewood, CO', 'Aurora, CO',
       'Broomfield, CO'], dtype=object)

#### Good locations based in  https://www.getkisi.com/work-life-balance-usa#table

In [32]:
good_jobs = good_salary.loc[(good_salary.Location == "San Diego, CA") | (good_salary.Location == "New York, NY")| (good_salary.Location == "San Francisco, CA")| (good_salary.Location == "Seattle, WA")| (good_salary.Location == "Los Angeles, CA")| (good_salary.Location == "Denver, CO")]

In [41]:
good_jobs['Location'].value_counts()

San Francisco, CA    38
New York, NY         33
San Diego, CA        24
Los Angeles, CA      16
Denver, CO           15
Seattle, WA           5
Name: Location, dtype: int64

In [34]:
good_jobs = pd.DataFrame(data= good_jobs)

In [40]:
good_jobs.to_csv("good_job2.csv", sep=";")